<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h4>로그인하기</h4>
    <form name="register">
      <fieldset>
        <legend>로그인</legend>
        <label for="id">아이디</label>
        <input type="text" name="id" />
        <label for="pw">비밀번호</label>
        <input type="password" name="pw" />
      </fieldset>
      <button type="button" onclick="axiosPost()">로그인하기</button>
    </form>
    <div class="resultBox"></div>
  </body>
  <script>
    const correctID = 123;
    const correctPW = 456;

    const resultBox = document.querySelector(".resultBox");
    function axiosPost() {
      console.log("axios Post");
      const form = document.forms["register"];
      const data = {
        id: form.id.value,
        //id: document.querySelector("#id.").value; 도 가능하다.
        pw: form.pw.value,
      };
      axios({
        method: "POST",
        url: "/axios",
        data: data,
      }).then((res) => {
        if ((`${res.data.id}` == correctID) & (`${res.data.pw}` == correctPW)) {
          resultBox.textContent = "로그인에 성공하였습니다.";
          resultBox.style.color = "blue";
        } else if (
          (`${res.data.id}` != correctID) &
          (`${res.data.pw}` == correctPW)
        ) {
          resultBox.textContent = "아이디가 틀립니다.";
          resultBox.style.color = "red";
        } else if (
          (`${res.data.id}` == correctID) &
          (`${res.data.pw}` != correctPW)
        ) {
          resultBox.textContent = "비밀번호가 틀립니다.";
          resultBox.style.color = "red";
        } else {
          resultBox.textContent = "아이디, 비밀번호를 확인해주세요";
          resultBox.style.color = "red";
        }
        //if(res.data.result){
        //  resultBox.textContent = "로그인 성공"
        //}else{
        //  resultBox.textContent = "로그인 실패"
        //}
      });
    }
  </script>
</html>
