<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <label for="name">이름</label>
    <input type="text" id="name" required />
    <br />
    성별
    <input type="radio" name="gender" value="남자" id="male" />
    <label for="male">남자</label>
    <input type="radio" name="gender" value="여자" id="female" />
    <label for="female">여자</label>
    <br />
    <button type="button" onclick="postSubmit()">제출</button><br />
  </body>
  <script>
    function postSubmit() {
      const name = document.querySelector("#name").value;
      console.log(name);
    }
  </script>
</html>
