<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <form name="register">
      <label for="name">이름</label>
      <input type="text" id="name" name="test" required />
      <br />
      성별
      <input type="radio" name="gender" value="남자" id="male" />
      <label for="male">남자</label>
      <input type="radio" name="gender" value="여자" id="female" />
      <label for="female">여자</label>
      <br />
      <button type="button" onclick="ajaxGet()">ajax get 제출</button><br />
      <button type="button" onclick="ajaxPost()">ajax post 제출</button><br />
      <button type="button" onclick="axiosGet()">axios get 제출</button><br />
      <button type="button" onclick="axiosPost()">axios post 제출</button><br />
      <button type="button" onclick="fetchGet()">fetch get 제출</button><br />
      <button type="button" onclick="fetchPost()">fetch post 제출</button><br />
    </form>
    <div class="result"></div>
    <script>
      const resultBox = document.querySelector(".result");
      function ajaxGet() {
        console.log("ajax get");

        //폼 선택하기
        const form = document.forms["register"];
        //console.log(form);
        //console.log(form.name);
        //console.log(form.gender);
        //console.log(form.name.value);
        //console.log(form.gender.value);
        console.log(form.name.value);
        console.log(form.test.value);
        console.log(document.getElementById("name").value);
        //위에 3개 다 같은 값 (다양하게 접근이 가능하다.)
        if (form.name.value === "") {
          alert("이름을 입력하세요");
          return;
        }

        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };
        $.ajax({
          type: "GET",
          url: "/ajax",
          data: data,
          success: (res) => {
            console.log("res", res);
            resultBox.textContent = `GET /ajax 요청완료 ${res.name}님은 ${res.gender}이시죠?`;
            resultBox.style.color = "blue";
          },
        });
      }
      function ajaxPost() {
        console.log("ajax post");
        //폼 선택하기
        const form = document.forms["register"];
        if (form.name.value === "") {
          alert("이름을 입력하세요");
          return;
        }
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };
        $.ajax({
          type: "POST",
          url: "/ajax",
          data: data,
          success: (res) => {
            console.log("res", res);
            resultBox.textContent = `POST /ajax 요청완료 ${res.name}님은 ${res.gender}이시죠?`;
            resultBox.style.color = "red";
          },
        });
      }
      function axiosGet() {
        console.log("axios get");
        const form = document.forms["register"];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };
        axios({
          method: "GET",
          //url: `/axios?name=${form.name.value}&gender=${form.gender.value}`
          url: "/axios",
          params: data,
        }).then((res) => {
          console.log(res);
          resultBox.textContent = `GET /axios 요청 완료! ${res.data.name}님은 ${res.data.gender}이시죠?`;
          resultBox.style.color = "green";
        });
      }
      async function axiosPost() {
        console.log("axios post");
        const form = document.forms["register"];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };
        try {
          const result = await axios({
            method: "POST",
            url: "/axios",
            data,
            headers: {
              //인증(jwt)할 때 많이 사용한다.
            },
          });
        } catch (error) {
          console.log("err", error);
        }

        resultBox.textContent = `POST /axios 요청 완료! ${result.data.name}님은 ${result.data.gender}이시죠?`;
        resultBox.style.color = "purple";
        //console.log(result);
      }
      function fetchGet() {
        console.log("fetch get");
        const form = document.forms["register"];
        const url = `?name=${form.name.value}&gender=${form.gender.value}`;

        fetch(`/fetch${url}`, {
          method: "GET",
        })
          .then((res) => {
            console.log("res", res);
            //JSON응답을 네이티브 Javascript 객체로 파싱
            return res.json(); //여기서 res.json()이 return을 통해 다음 .then(data)의 data로 들어간다.
          })
          .then((data) => {
            console.log("data", data);
            resultBox.textContent = `GET /fetch 요청완료! ${data.name}님은 ${data.gender}이시죠?`;
            resultBox.style.color = "limegreen";
          });
      }
      function fetchPost() {
        console.log("fetch post");
        const form = document.forms["register"];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };
        fetch("/fetch", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
          //JSON.stringify(): 자바스크립트 객체를 JSON텍스트로 변환
          //JSON.parse(): JSON형식의 텍스트를 자바스크립트 객체로 변환
        })
          .then((res) => {
            console.log("res", res);
            return res.json();
          })
          .then((data) => {
            console.log("data", data);
            resultBox.textContent = `POST /fetch 요청완료! ${data.name}님은 ${data.gender}이시죠?`;
            resultBox.style.color = "hotpink";
          });
      }
    </script>
  </body>
</html>
