<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>실습 문제풀이</div>
        <a href="/getPage">실습1</a>
        <a href="/postPage">실습2</a>
    </body>
</html>
