<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>MVC</h1>
    <a href="/signin">로그인페이지</a>
    <a href="/signup">회원가입페이지</a>
    <button type="button" onclick="detail()">회원정보 조회 및 수정</button>
    <script>
      function detail() {
        const id = localStorage.getItem("id");
        if (id) {
          window.location.href = "/detail";
        } else {
          alert("로그인을 하세요.");
        }
      }
    </script>
  </body>
</html>
