<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <h1>로그인하기</h1>
    <form onsubmit="login(event)">
      <input type="text" id="userid" placeholder="ID" /><br />
      <input type="password" id="pw" placeholder="PW" /><br />
      <button type="submit">로그인하기</button>
    </form>
    <script>
      function login(e) {
        e.preventDefault(); //기본 제출을 멈춘다.
        axios({
          method: "POST",
          url: "/signin",
          data: {
            userid: document.querySelector("#userid").value,
            pw: document.querySelector("#pw").value,
          },
        }).then((res) => {
          if (res.data.result) {
            console.log(res.data);
            alert(`${res.data.data.name}님 로그인 성공`);
            localStorage.setItem("id", res.data.data.id);
            window.location.href = "/";
          } else {
            alert("로그인 실패");
            document.location.reload();
          }
        });
      }
    </script>
  </body>
</html>
