/**
 * /* common
 *
 * @format
 */
* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  text-align: center;
}
header {
  width: 100%;
  height: 60px;
  background-color: #ddd;
  padding: 0 20px;
  margin-bottom: 50px;
}
.menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-right {
  display: flex;
  flex-direction: row;
}
.menu-left {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.menus-left {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
  align-items: center;
}
li {
  margin-left: 30px;
}
/* TODO: header1 ~ 4까지 완성해주세요! 
     - 편의를 위해 header2 ~ 4는 display: none 처리를 해두었습니다.
     - 해당 header 작업할 때 display: none 코드를 지워서 작업하면 됩니다!
 */
/* header1 */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* header2 */
.header2 {
  align-items: center;
}
/* header3 */
.header3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* header4 */
.header4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
