<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h3><%= userInfo.username %>님 환영합니다.</h3>
      <ul>
        <li>아이디: <%= userInfo.userId %></li>
        <li>나이: <%= userInfo.age %></li>
      </ul>
      <img src="<%= profile %>" width="100px" />
    </div>
  </body>
</html>
