<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h4>개인정보</h4>
    <form action="register" id="register">
      아이디: <input type="text" name="id" id="id" /><br />
      비밀번호: <input type="password" name="pw" id="pw" /><br />
      이름: <input type="text" name="name" id="name" /><br />
      나이: <input type="number" name="age" id="age" /><br />
      <form action="/upload" method="post" enctype="multipart/form-data">
        프로필 사진: <input type="file" name="profile" /><br />
      </form>
    </form>
    <button type="button" onclick="reset()">리셋</button>
    <button type="button" onclick="submit()">회원가입</button>
    <div class="result"></div>
    <script>
      const resultBox = document.getElementsByClassName("result");
      const reset = document.getElementById("register");

      function reset() {
        reset.reset;
      }

      function submit() {
        const form = document.forms["register"];
        const data = {
          id: form.id.value,
          pw: form.pw.value,
          age: form.age.value,
          name: form.name.value,
        };
        axios({
          method: "POST",
          url: "/upload",
          data,
        }).then((res) => {
          console.log("res", res);
          resultBox.innerHTML = `<div><img src=${res.data.path}></div>`;
        });
      }
    </script>
  </body>
</html>
