<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h3>개인 정보</h3>
    <form name="register">
      아이디: <input type="text" name="id" id="id" /> <br />
      비밀번호: <input type="password" name="pw" id="pw" /><br />
      이름: <input type="text" name="name" id="name" /><br />
      나이: <input type="number" name="age" id="age" /><br />
      프로필 사진: <input type="file" name="profile" id="profile" /><br />
      <button type="button" onclick="resetForm()">리셋</button>
      <button type="button" onclick="signUp()">회원가입</button>
      <div class="result"></div>
    </form>
    <script>
      let resultBox = document.querySelector(".result");

      function signUp() {
        const form = document.forms["register"];
        const data = {
          id: form.id.value,
          pw: form.pw.value,
          name: form.name.value,
          age: form.age.value,
        };

        const file = document.getElementById("profile");
        console.log(file.files[0]);

        axios({
          method: "POST",
          url: "/signUp",
          data: data,
        })
          .then((res) => {
            console.log("file", res);
            const formData = new FormData();
            formData.append("id", res.data.id);
            formData.append("profile", file.files[0]);
            return axios({
              method: "POST",
              url: "/signUpFile",
              data: formData,
              headers: {
                "content-type": "multipart/form-data",
              },
            });
          })
          .then((res) => {
            console.log("finish", res);
            console.log("img", res.data.file.path);
            resultBox.innerHTML = `<div><img src=${res.data.file.path} ></div>`;
          });
      }
    </script>
  </body>
</html>
