.CircleComponent {
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(84, 204, 255);

    &.circle2 {
      top: 20px;
      left: 40px;
      background-color: rgb(97, 97, 255);
    }
    &.circle3 {
      top: 40px;
      left: 70px;
      background-color: rgb(79, 25, 255);
    }
    &.circle4 {
      top: 35px;
      left: 90px;
      background-color: rgb(152, 209, 255);
    }

    &.circle5 {
      top: 31px;
      left: 110px;
      z-index: 11;
    }
    &.eye1 {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: white;
      top: 15px;
      left: 15px;
    }

    &.eye2 {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: black;
      top: 20px;
      left: 15px;
    }
  }
  .grass {
    position: relative;
    width: 150px;
    height: 50px;
    top: 42px;
    left: 5px;
    z-index: 10;
  }
}
