<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>댓글 자세히 보기</title>
  </head>
  <body>
    <h1><%= commentInfos.userId %>님의 댓글입니다.</h1>
    <a href="/comments">댓글 목록 보기</a>
    <p>작성일: <%= commentInfos.date %></p>
    <p>댓글 내용: <%= commentInfos.comment %></p>
  </body>
</html>
