<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>파일 업로드</title>
  </head>

  <body>
    <h1>파일 업로드 하기</h1>

    <!-- 일반 폼 전송 -->
    <h2>하나의 input에 하나의 파일 업로드</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile" /><br />
      <input type="text" name="text" /><br />
      <button type="submit">업로드</button>
    </form>

    <!-- 일반 폼 전송 -->
    <h2>하나의 input에 여러 개의 파일 업로드</h2>
    <form action="/upload/array" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile" multiple /><br />
      <input type="text" name="text" /><br />
      <button type="submit">업로드</button>
    </form>

    <!-- 일반 폼 전송 -->
    <h2>여러 개의 input에 여러 개의 파일 업로드</h2>
    <form action="/upload/fields" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile1" /><br />
      <input type="text" name="text" /><br />
      <input type="file" name="userfile2" /><br />
      <input type="text" name="text" /><br />
      <button type="submit">업로드</button>
    </form>

    <!-- 동적 파일 업로드 -->
    <h2>동적 파일 업로드</h2>
    <input type="text" name="text" id="text" /><br />
    <input type="file" name="dynamic-userfile" id="dynamic-file" /><br />
    <button type="button" onclick="fileUpload();">업로드</button>
    <!-- 업로드할 파일을 보여줄 이미지 태그 -->
    <br /><img class="img-box" src="" />

    <script>
      function fileUpload() {
        const formData = new FormData();
        // form 태그의 데이터를 동적으로 제어할 수 있는 기능
        const text = document.getElementById("text");
        const fileInput = document.getElementById("dynamic-file");
        console.log(fileInput.files);
        formData.append("dynamic-file", fileInput.files[0]);
        formData.append("text", text.value);

        axios({
          url: "/dynamic",
          method: "POST",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        }).then((res) => {
          console.log(res);

          const imgElement = document.querySelector(".img-box");
          imgElement.src = `/${res.data.path}`;
        });
      }
    </script>
  </body>
</html>
