<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>안녕하세요.</h1>
    <form name="profile_form">
      <fieldset>
        <legend>회원정보 확인 및 수정</legend>
        이름<input type="text" id="name" placeholder="" /> <br />아이디<input
          type="text"
          id="userId"
          placeholder=""
        /><br />
        비밀번호<input type="text" id="pw" placeholder="" /><br />
        비밀번호 확인<input
          type="text"
          id="checkPw"
          placeholder="한번 더 입력하세요."
        /><br />
        <button type="button" onclick="updata()">수정</button>
        <button type="button" onclick="deletedata()">탈퇴</button>
      </fieldset>
    </form>

    <script>
      axios.get(`/user/profile/${userId}`).then((response) => {
        const profileData = response.data.profileData;
        console.log("profileData:", profileData);
        if (profileData) {
          document.getElementById("name").value = profileData.name;
          document.getElementById("userId").value = profileData.userid;
          document.getElementById("pw").value = profileData.pw;
          console.log("성공", profileData);
        }
      });
    </script>
  </body>
</html>
