<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <form name="signup">
      <fieldset>
        <legend>회원가입</legend>
        이름<input type="text" id="name" placeholder="이름" />
        <br />아이디<input type="text" id="userId" placeholder="아이디" /><br />
        비밀번호<input type="text" id="pw" placeholder="비밀번호" /><br />
        비밀번호 확인<input
          type="text"
          id="checkPw"
          placeholder="한번 더 입력하세요."
        /><br />
        <button type="button" onclick="handleSignUp()">회원가입</button>
      </fieldset>
    </form>
    <a href="/user/signin">로그인하러 가기</a>

    <script>
      function handleSignUp() {
        const form = document.forms["signup"];
        const name = form.name.value;
        const pw = form.pw.value;
        const checkPw = form.checkPw.value;
        if (pw === checkPw) {
          axios({
            method: "POST",
            url: "/user/signup",
            data: {
              name: form.name.value,
              userId: form.userId.value,
              pw: form.pw.value,
            },
          }).then((res) => {
            console.log("res", res);
            alert(`${name}님 환영합니다. 회원가입이 완료되었습니다.`);
            window.location.reload();
          });
        } else {
          alert("비밀번호가 일치하지 않습니다.");
        }
      }
    </script>
  </body>
</html>
