p.lion {
  background-color: red;
}

ul > .lion {
  background-color: greenyellow;
  font: bold;
}

#tiger {
  background-color: yellow;
}

.lion {
  color: sienna;
}

#tiger + li {
  background-color: skyblue;
}

li.lion ~ li {
  background-color: orange;
}
