/* css에서 링크 방식을 사용하는 방법  */
/* div {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: lightgray;
} */
/* 전체 선택자 * */
* {
  color: red;
}

/* 태그 선택자 */
li {
  color: red;
}

/* 클래스 선택자 */
.orange {
  color: orange;
}

/* 아이디 선택자 (아이디 선택자가 클래스 선택자보다 우선순위 높음)*/
#orange {
  color: blue;
}

div {
  background-color: gray;
  color: white;
}
h1 {
  color: white;
}

span {
  background-color: red;
}
#first {
  background-color: blue;
}
.second {
  background-color: green;
}

/* 일치 선택자 */
span.orange {
  color: red;
}

/* 자식 선택자 */
ul > .orange {
  color: blue;
}
/* 하위 선택자 */
ul .orange {
  font-weight: bold;
}

/* 인접 형제 선택자 (바로 다음 요소에만 적용됨)*/
.orange + li {
  font-size: 30px;
}

/* 일반 형제 선택자(뒤에 오는 모든 요소에 적용됨) */
.orange ~ li {
  color: green;
}

/* hover : 마우스 커서를 올렸을 때 */
a:hover {
  color: red;
}

/* active: 마우스를 클릭하고 있는 동안 */
a:active {
  color: white;
  background-color: black;
}

/* focus : 포커스가 되어 있을 때 */
input:focus {
  background-color: lightgray;
}

/* first-child (형제 요소 첫번째 요소로 있으면 적용됨) */
.fruits span:first-child {
  color: red;
}
.fruits div:first-child {
  color: blue;
}
/* 즉, .fruits에서 첫번째 요소가 span이라 span에 적용됨 */

/* last-child (형제 요소 마지막 요소로 있으면 적용됨) */
.fruits h3:last-child {
  text-decoration: line-through;
}
.fruits p:last-child {
  color: green;
}
/* 즉, .fruits에서 마지막 요소가 h3라서 h3에 적용됨 */

/* :nth-child(n)  n번째 요소로 있으면 적용됨.(2n은 짝수번째들, 2n+1은 홀수번째들)*/
.fruits span:nth-child(2) {
  color: red;
}

/* 부정요소 *:not() 하위 요소들 중에 ()안에 있는 걸 제외하고 선택*/
.fruits *:not(span) {
  background-color: aqua;
}

/* 가상요소 선택 before (내부 앞에 내용 삽입) */
.fruits::before {
  content: "과일 목록 시작";
}
/* 가상요소 선택 after (내부 뒤에 내용 삽입) */
.fruits::after {
  content: "과일 목록 끝";
}
/* 기능 선택자 */
input[disabled] {
  background-color: aqua;
}
input[readonly] {
  background-color: orange;
}

/* 속성 선택자 */
input[type="password"] {
  color: red;
}
