<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/changeImage">이미지 변경하기</a>
    <a href="/larva">애벌레 구경하기</a>
    <a href="/multiplicationTables">구구단</a>
  </body>
</html>
