<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      span {
        color: blue;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <h1><%= title%></h1>
    <div><span><%= userInfo.id %></span>님 환영합니다.</div>
    <div>비밀번호는 <span><%= userInfo.pw %></span>이군요!</div>
    <br />
    <br />
    <a href="/">홈으로 이동</a>
  </body>
</html>
